@{
    ViewData["Title"] = "Home Page";
}

<div class="main-section">
    <div class="text-center home ">
    <h1 class="display-4">Welcome In GuestBook</h1>
     
     <div class="mt-5">
         <a class="navbar-brand border p-3" asp-area="" asp-controller="Account" asp-action="Login">Login</a>        
         <a class="navbar-brand border p-3" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
     </div>
        
</div>
</div>

