@model string 

<div class="register row">
<form class="mt-5 offset-4 col-4" action= "/Account/Login?ReturnUrl=@System.Net.WebUtility.UrlEncode(Model)" method="post">
  <div class="form-group p-1 ">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="Email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group p-1">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="Password">
  </div>
  <button type="submit" class="btn btn-primary mt-3 ">Login</button>
</form>
</div>
